In [1]:
import pandas as pd

## Criar um dataframe por meio de um dicionário

In [2]:
dicionario_aux = {
    "data": ["15/02/2027", "18/05/2023"],
    "valor": [1000, 700],
    "produto": ["piscina", "cadeira gamer"],
    "qtd": ["1", "1"]
}

vendas_df = pd.DataFrame(dicionario_aux)

display(vendas_df)

         data  valor        produto qtd
0  15/02/2027   1000        piscina   1
1  18/05/2023    700  cadeira gamer   1

# Importando de um excel

In [3]:
df = pd.read_excel("Vendas.xlsx")

df

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [4]:
display(df.head(3))

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368

In [5]:
print(df.shape) # traz a quantidade de linhas e colunas

(93910, 7)

In [6]:
display(df.describe())

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

# Seleção dos dados

In [7]:
produtos = df[["Produto", "Quantidade"]]
produtos

                 Produto  Quantidade
0         Sapato Estampa           1
1               Camiseta           2
2          Sapato Xadrez           1
3                Relógio           3
4           Chinelo Liso           1
...                  ...         ...
93905     Mochila Xadrez           2
93906  Pulseira Listrado           2
93907     Cueca Listrado           3
93908     Pulseira Linho           5
93909      Casaco Xadrez           4

[93910 rows x 2 columns]

# Seleção com .loc

In [8]:
display(df.loc[1:5])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248

In [9]:
# buscar as linhas que corresponde uma condição específica, por exemplo produto 'Camiseta'

produto_camiseta = df.loc[df["Produto"] == 'Camiseta']
produto_camiseta

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
15,11,2019-01-02,Shopping Recife,Camiseta,1,180,180
119,93,2019-01-02,Novo Shopping Ribeirão Preto,Camiseta,1,180,180
206,148,2019-01-02,Shopping Center Interlagos,Camiseta,2,180,360
276,199,2019-01-02,Passei das Águas Shopping,Camiseta,2,180,360
...,...,...,...,...,...,...,...
92991,64379,2019-11-27,Shopping Recife,Camiseta,1,180,180
93050,64427,2019-11-27,Passei das Águas Shopping,Camiseta,2,180,360
93071,64443,2019-11-28,Shopping Barra,Camiseta,1,180,180
93577,64787,2019-11-29,Passei das Águas Shopping,Camiseta,5,180,900
93900,65009,2019-11-30,Shopping Barra,Camiseta,2,180,360

In [10]:
produto_camiseta["subtracao"] = produto_camiseta["Valor Final"] - produto_camiseta["Valor Unitário"]
display(produto_camiseta)

C:\Users\gabri\AppData\Local\Temp\ipykernel_31944\2403918683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  produto_camiseta["subtracao"] = produto_camiseta["Valor Final"] - produto_camiseta["Valor Unitário"]

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,subtracao
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,180
15,11,2019-01-02,Shopping Recife,Camiseta,1,180,180,0
119,93,2019-01-02,Novo Shopping Ribeirão Preto,Camiseta,1,180,180,0
206,148,2019-01-02,Shopping Center Interlagos,Camiseta,2,180,360,180
276,199,2019-01-02,Passei das Águas Shopping,Camiseta,2,180,360,180
...,...,...,...,...,...,...,...,...
92991,64379,2019-11-27,Shopping Recife,Camiseta,1,180,180,0
93050,64427,2019-11-27,Passei das Águas Shopping,Camiseta,2,180,360,180
93071,64443,2019-11-28,Shopping Barra,Camiseta,1,180,180,0
93577,64787,2019-11-29,Passei das Águas Shopping,Camiseta,5,180,900,720
93900,65009,2019-11-30,Shopping Barra,Camiseta,2,180,360,180

In [11]:
df["Comissão"] = df["Valor Final"] * 0.08

df

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,28.64
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,28.80
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,29.44
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,48.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,5.68
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,45.28
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,12.64
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,16.08
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,45.60
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,82.88

In [12]:
df.loc[:, "Imposto"] = 0

df

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,28.64,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,28.80,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,29.44,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,48.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,5.68,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,45.28,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,12.64,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,16.08,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,45.60,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,82.88,0

# ordenando os dados do valor final - sort_values

In [13]:
df_ordenado_cresc = df.sort_values(by="Valor Final")
df_ordenado_cresc

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
47674,32898,2019-06-20,Shopping Eldorado,Meia,1,30,30,2.4,0
36613,25305,2019-05-11,Shopping Center Interlagos,Meia,1,30,30,2.4,0
63997,44240,2019-08-16,Palladium Shopping Curitiba,Meia,1,30,30,2.4,0
49646,34279,2019-06-27,Shopping Center Leste Aricanduva,Meia,1,30,30,2.4,0
66573,46033,2019-08-26,Parque Dom Pedro Shopping,Meia,1,30,30,2.4,0
...,...,...,...,...,...,...,...,...,...
28987,20012,2019-04-14,Iguatemi Campinas,Terno Linho,5,750,3750,300.0,0
82333,57116,2019-10-20,Shopping Center Leste Aricanduva,Terno Linho,5,750,3750,300.0,0
45891,31616,2019-06-13,Shopping SP Market,Terno Linho,5,750,3750,300.0,0
5543,3769,2019-01-21,Iguatemi Campinas,Terno Linho,5,750,3750,300.0,0
9054,6188,2019-02-03,Shopping Morumbi,Terno Linho,5,750,3750,300.0,0

In [14]:
df_ordenado_decresc = df.sort_values(by="Produto", ascending=False)
df_ordenado_decresc

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
53372,36886,2019-07-10,Shopping Recife,Tênis Xadrez,1,259,259,20.72,0
34568,23839,2019-05-04,Shopping SP Market,Tênis Xadrez,2,259,518,41.44,0
92019,63697,2019-11-24,Shopping Ibirapuera,Tênis Xadrez,2,259,518,41.44,0
25612,17686,2019-04-02,Shopping Iguatemi Fortaleza,Tênis Xadrez,3,259,777,62.16,0
80515,55886,2019-10-14,Shopping Center Leste Aricanduva,Tênis Xadrez,1,259,259,20.72,0
...,...,...,...,...,...,...,...,...,...
69463,48099,2019-09-05,Shopping Center Leste Aricanduva,Bermuda,2,150,300,24.00,0
83259,57724,2019-10-24,Shopping Midway Mall,Bermuda,3,150,450,36.00,0
33980,23445,2019-05-02,Shopping Barra,Bermuda,1,150,150,12.00,0
18275,12595,2019-03-07,Shopping Vila Velha,Bermuda,1,150,150,12.00,0
45665,31458,2019-06-12,Parque Dom Pedro Shopping,Bermuda,1,150,150,12.00,0

In [15]:
# groupby

faturamento = df[["Produto", "Valor Final"]].groupby("Produto").sum()
display(faturamento)

                  Valor Final
Produto
Bermuda                253800
Bermuda Estampa        273104
Bermuda Linho          369135
Bermuda Liso           257009
Bermuda Listrado       273025
...                       ...
Tênis Estampa          425728
Tênis Linho            503622
Tênis Liso             440496
Tênis Listrado         455094
Tênis Xadrez           430199

[120 rows x 1 columns]

# Adicionando uma linha

In [16]:
vendas_dez_df = pd.read_excel("Vendas - Dez (1).xlsx")

display(vendas_dez_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2019-12-01,Shopping Morumbi,Sunga Listrado,5,114,570
1,65014,2019-12-01,Shopping Morumbi,Casaco Listrado,1,269,269
2,65016,2019-12-01,Iguatemi Campinas,Sapato Listrado,2,363,726
3,65016,2019-12-01,Iguatemi Campinas,Casaco,1,250,250
4,65017,2019-12-01,Shopping SP Market,Gorro Liso,3,92,276
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [17]:
display(df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,28.64,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,28.80,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,29.44,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,48.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,5.68,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,45.28,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,12.64,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,16.08,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,45.60,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,82.88,0

In [18]:
vendas_df_concatecao = df.append(vendas_dez_df)

vendas_df_concatecao

C:\Users\gabri\AppData\Local\Temp\ipykernel_31944\1564436320.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vendas_df_concatecao = df.append(vendas_dez_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,28.64,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,28.80,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,29.44,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,48.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,5.68,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

In [19]:
vendas_df_concatecao = vendas_df_concatecao.drop(0, axis=0)
vendas_df_concatecao

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,28.80,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,29.44,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,48.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,5.68,0.0
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,19.84,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

In [27]:
# tirando os NaN
vendas_df_sem_na = vendas_df_concatecao.dropna(axis=1)
vendas_df_sem_na

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [32]:
vendas_df_concatecao["Comissão"] = df["Comissão"].fillna(df["Comissão"].mean())
vendas_df_concatecao

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,28.80,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,29.44,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,48.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,5.68,0.0
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,19.84,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,66.24,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,17.52,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,112.96,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,17.20,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,28.64,NaN

In [33]:
# value counts
transacoes_loja = vendas_df_concatecao["ID Loja"].value_counts()
display(transacoes_loja)

Shopping Vila Velha                 4234
Palladium Shopping Curitiba         4210
Norte Shopping                      4179
Rio Mar Shopping Fortaleza          4118
Bourbon Shopping SP                 4116
Iguatemi Campinas                   4108
Rio Mar Recife                      4099
Shopping Center Leste Aricanduva    4093
Shopping SP Market                  4080
Shopping Ibirapuera                 4051
Novo Shopping Ribeirão Preto        4049
Ribeirão Shopping                   4048
Salvador Shopping                   4030
Shopping Center Interlagos          4021
Shopping Iguatemi Fortaleza         4021
Center Shopping Uberlândia          4013
Shopping Eldorado                   4002
Passei das Águas Shopping           4000
Shopping União de Osasco            3995
Iguatemi Esplanada                  3979
Shopping Barra                      3962
Shopping Morumbi                    3959
Parque Dom Pedro Shopping           3902
Shopping Recife                     3891
Shopping Midway Mall                3837
Name: ID Loja, dtype: int64

# Mesclando com o dataframe de gerentes

In [34]:
gerentes = pd.read_excel("Gerentes.xlsx")
gerentes

                             ID Loja   Gerente
0                 Iguatemi Esplanada  Salvador
1                     Norte Shopping     Joana
2         Rio Mar Shopping Fortaleza     Maria
3                     Shopping Barra   Letícia
4                Shopping Ibirapuera    Helena
5                  Iguatemi Campinas     Luiza
6   Shopping Center Leste Aricanduva     Julia
7          Passei das Águas Shopping    Nicole
8                    Shopping Recife     André
9               Shopping Midway Mall      João
10               Bourbon Shopping SP    Marcus
11        Shopping Center Interlagos    Amanda
12         Parque Dom Pedro Shopping     Carol
13        Center Shopping Uberlândia  Andressa
14          Shopping União de Osasco     Lilia
15                 Shopping Eldorado     Paulo
16               Shopping Vila Velha     Pablo
17      Novo Shopping Ribeirão Preto     Diana
18                    Rio Mar Recife       Ana
19       Palladium Shopping Curitiba    Flavia
20                Shopping SP Market  Fernanda
21                 Ribeirão Shopping     Fábio
22       Shopping Iguatemi Fortaleza      Joel
23                  Shopping Morumbi    Gisele
24                 Salvador Shopping    Mateus

In [36]:
vendas_df_gerentes = vendas_df_concatecao.merge(gerentes)

vendas_df_gerentes

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,28.80,0.0,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,29.44,0.0,Salvador
2,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,18.56,0.0,Salvador
3,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,29.04,0.0,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Camisa Gola V Liso,2,118,236,18.88,0.0,Salvador
...,...,...,...,...,...,...,...,...,...,...
100992,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,40.00,NaN,Mateus
100993,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,10.96,NaN,Mateus
100994,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,16.40,NaN,Mateus
100995,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,78.00,NaN,Mateus
100996,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,34.80,NaN,Mateus